@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Kavoon', serif;
    letter-spacing: 1px;
    background-color: #171719;
    scroll-behavior: smooth;
    position: relative;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPage{
    background-image: url("./Assests/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 99vw;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.websiteName{
    font-size: 6vw;
    margin-top: 3vw;
}

.logo{
    width: 6vw;
    margin: 0 2vw;
}

.orange{
    color: #FF8A00;
}

.aboutUs{
    margin: 5vw;
    font-size: 1vw;
    width: 60vw;
    color: rgb(222, 220, 220);
}

#search-bar{
    width: 40vw;
    height: 3vw;
    padding: 1vw;
    background-color: #3c3c3c;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border-radius : 0 7px 7px 0;
    color: rgb(222, 220, 220);
    font-size: 1vw;
}

.search-icon{
    border: none;
    width: 3vw;
    padding: 0.7vw;
    background-color: #3c3c3c;
    border-radius : 7px 0 0 7px;
}

.search-bar h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(222, 220, 220);
    letter-spacing: 0.1vw;
    font-size: 1vw;
    margin-top: 1vw;
}

#Explore , #viewIngredient{
    width: 10vw;
    /* height: 2.5vw; */
    margin: 4vw;
    background-color: #FF8A00;
    color: rgb(222, 220, 220);
    border: none;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 5px;
    padding: 1vw;
    cursor: pointer;
}

#viewIngredient{
    margin: 0;
}

#Explore:active , #viewIngredient:active{
    transform: scale(0.9);
}

.mainBody{
    padding: 4vw 8vw;
}

.todayspecial{
    padding: 2vw;
    border-radius: 1vw;
    background-color: #3c3c3c;
    color:rgb(222, 220, 220);
    flex-direction: column;
}

.content{
    margin: 4vw 4vw 3vw 4vw;
    width: 100%;
    gap: 10vw;
    text-align: center;
}

#randomMeal{
    width: 25vw;
    border-radius: 10px;
}

.randomMealinfo div{
    margin: 2vw 0;
}

hr{
    margin-top: 3vw;
    background-color: #FF8A00;
    border: none;
    height: 0.2vw;
}

.search-results{
    margin-top: 3vw;
    flex-direction: column;
}

.search-results h2{
    color: rgb(222, 220, 220);
}

#card-container{
    margin-top: 5vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vw;
}

#dishImg{
    width: 15vw;
    margin-bottom: 1vw;
}

#dishName{
    cursor: pointer;
}

.card{
    background-color: black;
    /* border: 2px solid red; */
    text-align: center;
    padding: 2vw;
}

.card:hover{
    box-shadow: 0 0 3px 3px #FF8A00;
}

#popup{
    position: absolute;
    background-color: black;
    width: 500px;
    /* height: 548.612px; */
    text-align: center;
    overflow: auto; 
    text-wrap: wrap;
    padding: 2vw 4.5vw;
    left: 33vw;
    top: 5vw;
    box-shadow: 0 0 0 1000px #00000080;
    border-radius: 10px;
    position: fixed;
    display: none;
    color: white;
    border: 2px solid #FF8A00;
}

#popup img{
    width: 2.5vw;
    position: relative;
    left: 120px;
    cursor: pointer;    
}

hr{
    margin-top: 20px;
}

#dishName{
    /* margin-bottom: 1vw; */
    color: orange;
}

ol{
    padding: 1vw 2vw;
    text-align: left;
    line-height: 23px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #FF8A00;
    border-radius: 5px;
}
