@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Kavoon', serif;
    letter-spacing: 1px;
    background-color: #171719;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPage{
    background-image: url("./Assests/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

.websiteName{
    font-size: 6vw;
    margin-top: 3vw;
}

.logo{
    width: 6vw;
    margin: 0 2vw;
}

.orange{
    color: #FF8A00;
}

.aboutUs{
    margin: 5vw;
    font-size: 1vw;
    width: 60vw;
    color: rgb(222, 220, 220);
}

#search-bar{
    width: 40vw;
    height: 3vw;
    padding: 1vw;
    background-color: #3c3c3c;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border-radius : 0 7px 7px 0;
    color: rgb(222, 220, 220);
    font-size: 1vw;
}

.search-icon{
    border: none;
    width: 3vw;
    padding: 0.7vw;
    background-color: #3c3c3c;
    border-radius : 7px 0 0 7px;
}

.search-bar h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(222, 220, 220);
    letter-spacing: 0.1vw;
    font-size: 1vw;
    margin-top: 1vw;
}

#Explore , #viewIngredient{
    width: 10vw;
    /* height: 2.5vw; */
    margin: 4vw;
    background-color: #FF8A00;
    color: rgb(222, 220, 220);
    border: none;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 5px;
    padding: 1vw;
    cursor: pointer;
}

#viewIngredient{
    margin: 0;
}

#Explore:active , #viewIngredient:active{
    transform: scale(0.9);
}

.mainBody{
    padding: 4vw 8vw;
}

.todayspecial{
    padding: 2vw;
    border-radius: 1vw;
    background-color: #3c3c3c;
    color:rgb(222, 220, 220);
    flex-direction: column;
}

.content{
    margin: 4vw 4vw 3vw 4vw;
    width: 100%;
    gap: 10vw;
    text-align: center;
}

#randomMeal{
    width: 25vw;
    border-radius: 10px;
}

.randomMealinfo div{
    margin: 2vw 0;
}

hr{
    margin-top: 3vw;
    background-color: #FF8A00;
    border: none;
    height: 0.2vw;
}

.search-results{
    margin-top: 3vw;
}

.search-results h2{
    color: rgb(222, 220, 220);
}